<div class="x-grid--layout-cols-equal-min-width-max-count">
  <dl>
    <dt>Neutral (f.k.a. Primary)
    </dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-primary--xxx-light"
                not-available="true"}}
            {{> @color--swatch name="--global-color-primary--xx-light"}}
            {{> @color--swatch name="--global-color-primary--x-light"}}
            {{> @color--swatch name="--global-color-primary--light"}}
            {{> @color--swatch name="--global-color-primary--light-alt"}}
            {{> @color--swatch name="--global-color-primary--normal"}}
            {{> @color--swatch name="--global-color-primary--dark"}}
            {{> @color--swatch name="--global-color-primary--x-dark"}}
            {{> @color--swatch name="--global-color-primary--xx-dark"}}
            {{> @color--swatch name="--global-color-primary--xxx-dark"
                not-available="true"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-primary--xxx-light"}}
            {{> @color--swatch name="--global-color-primary--xxx-dark"}}
          </div>
        </dd>
        <dt>Notes</dt>
        <dd>
          <div class="demo-notes">
            {{> @message
              tag='p'
              scope='section'
              type='info'
              content='The name <code>primary</code> will become <code>neutral</code> in a future version.'
            }}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Accent</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-accent--xxx-light"
                not-available="true"}}
            {{> @color--swatch name="--global-color-accent--xx-light"}}
            {{> @color--swatch name="--global-color-accent--x-light"}}
            {{> @color--swatch name="--global-color-accent--light"}}
            {{> @color--swatch name="--global-color-accent--light-alt"}}
            {{> @color--swatch name="--global-color-accent--normal"}}
            {{> @color--swatch name="--global-color-accent--dark"}}
            {{> @color--swatch name="--global-color-accent--x-dark"}}
            {{> @color--swatch name="--global-color-accent--xx-dark"}}
            {{> @color--swatch name="--global-color-accent--xxx-dark"
                not-available="true"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-accent--secondary"}}
            {{> @color--swatch name="--global-color-accent--tertiary"}}
            {{> @color--swatch name="--global-color-accent--xxx-light"}}
            {{> @color--swatch name="--global-color-accent--xxx-dark"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Secondary</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-secondary--xxx-light"
                not-available="true"}}
            {{> @color--swatch name="--global-color-secondary--xx-light"}}
            {{> @color--swatch name="--global-color-secondary--x-light"}}
            {{> @color--swatch name="--global-color-secondary--light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-secondary--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-secondary--dark"}}
            {{> @color--swatch name="--global-color-secondary--x-dark" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-secondary--xx-dark"
                not-available="true"}}
            {{> @color--swatch name="--global-color-secondary--xxx-dark"
                not-available="true"}}
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-accent--secondary"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Tertiary</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-tertiary--xxx-light"
                not-available="true"}}
            {{> @color--swatch name="--global-color-tertiary--xx-light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-tertiary--x-light"}}
            {{> @color--swatch name="--global-color-tertiary--light"}}
            {{> @color--swatch name="--global-color-tertiary--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-tertiary--dark"}}
            {{> @color--swatch name="--global-color-tertiary--x-dark" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-tertiary--xx-dark"
                not-available="true"}}
            {{> @color--swatch name="--global-color-tertiary--xxx-dark"
                not-available="true"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-accent--tertiary"}}
          </div>
        </dd>
      </dl>
  </dl>
</div>
<div class="x-grid--layout-cols-equal-min-width-max-count">
  <dl>
    <dt>Info</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-info--x-light"}}
            {{> @color--swatch name="--global-color-info--light"}}
            {{> @color--swatch name="--global-color-info--normal"}}
            {{> @color--swatch name="--global-color-info--dark"}}
            {{> @color--swatch name="--global-color-info--x-dark"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-info--weak"
                not-opaque="true"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Danger</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-danger--x-light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-danger--light"}}
            {{> @color--swatch name="--global-color-danger--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-danger--dark"}}
            {{> @color--swatch name="--global-color-danger--x-dark"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-danger--weak"
                not-opaque="true"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Warning</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-warning--x-light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-warning--light"}}
            {{> @color--swatch name="--global-color-warning--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-warning--dark"}}
            {{> @color--swatch name="--global-color-warning--x-dark"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-warning--weak"
                not-opaque="true"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Success</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-success--x-light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-success--light"}}
            {{> @color--swatch name="--global-color-success--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-success--dark"}}
            {{> @color--swatch name="--global-color-success--x-dark"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-success--weak"
                not-opaque="true"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Extra</dt>
    <dd>
      <dl>
        <dt>Tints &amp; Shades</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-extra--x-light" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-extra--light"}}
            {{> @color--swatch name="--global-color-extra--normal" 
                is-from-desinger="true"}}
            {{> @color--swatch name="--global-color-extra--dark"}}
            {{> @color--swatch name="--global-color-extra--x-dark"}}
          </div>
        </dd>
        <dt>Deprecated</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-extra--weak"
                not-opaque="true"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
</div>
<div class="x-grid--layout-cols-equal-min-width-max-count">
  <dl>
    <dt>Generic</dt>
    <dd>
      <dl>
        <dt>Background</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-background--app"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
  <dl>
    <dt>Deprecated</dt>
    <dd>
      <dl>
        <dt>Link on Light/Dark</dt>
        <dd>
          <div class="demo-palette">
            {{> @color--swatch name="--global-color-link-on-light--normal"}}
            {{> @color--swatch name="--global-color-link-on-dark--normal"}}
          </div>
        </dd>
      </dl>
    </dd>
  </dl>
</div>
