/*
CMS Navigation

Styles for elements within CMS navigation that has third-party code:

- Bootstrap 4.0.0

Markup: s-cms-nav.html

Styleguide Trumps.Scopes.CMSNav
*/

ul.s-cms-nav {
  /* To overwrite @tacc/core-styles */
  padding-left: 0; /* copied from Bootstrap */
  margin-bottom: 0; /* overwrite html-elements.css */
}
