<!-- WARNING: Has Bootstrap class names (don't mimic unless using Bootstrap) -->
<ul class="s-portal-nav navbar-nav">
  <!-- When user is not logged in, there are zero dropdown(-*) classes -->
  <li class="nav-item dropdown">
    <button
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      aria-controls="nav-menu-{{default id 0}}-portal-1"
      id="nav-link-{{default id 0}}-portal-1"
    >
      <i class="icon icon-user" aria-hidden="true"></i>
      username
      <span class="sr-only">(toggle dropdown)</span>
    </button>
    <nav
      class="dropdown-menu dropdown-menu-right"
      id="nav-menu-{{default id 0}}-portal-1"
      aria-labelledby="nav-link-{{default id 0}}-portal-1"
    >
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-dashboard" aria-hidden="true"></i>
        My Dashboard
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-approved-boxed" aria-hidden="true"></i>
        Onboarding Admin
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-gear" aria-hidden="true"></i>
        My Account
      </a>
      <a
        class="dropdown-item"
        href="#"
      >
        <i class="icon icon-user" aria-hidden="true"></i>
        Log Out
      </a>
    </nav>
  </li>
</ul>