<dl>
  <dt>Update</dt>
  <dd>
    <aside class="c-update">
      <header class="c-update__header">
        <h3 class="c-update__title">
          <span
            class="c-pill c-pill--is-updated"
          >
            Updated
          </span>&nbsp;
        </h3>
        <span>Published:</span>&nbsp;
        <time datetime="2023-10-13T14:27:18.637000">
          October 13, 2023
        </time>
      </header>
    </aside>
  </dd>
  <dd>
  </dd>
  <dt>Original</dt>
  <dd>
    <header class="c-update__header">
      <span>Published:</span>&nbsp;
      <time datetime="2023-10-03T17:55:22.513000">
        October 03, 2023
      </time>
    </header>
  </dd>
</dl>